/Lab_2/nbproject/private/
/Lab_2/dist/
/Lab_2/build/
/Assignment_1/nbproject/private/
/Assignment_1/build/
/Assignment_1/dist/
/Assignment_2/nbproject/private/
/Assignment_2/build/
/Assignment_2/dist/
/Lab3/nbproject/private/
/Lab3/build/
/Lab3/dist/
/Lab_5/lab5_skeleton/build/
/Lab_5/lab5_skeleton/nbproject/private/
/Lab_5/lab5_skeleton/dist/